<nav class="flex sm:justify-center space-x-4 mt-5 ">
  <ul class="flex">
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink=""
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="active"
        >Home</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/about"
        routerLinkActive="active"
        >About</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/testimonial"
        routerLinkActive="active"
        >Testimonial</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/sale"
        routerLinkActive="active"
        >Sale</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/clothing"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Clothing</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/dresses"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Dresses</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/toys"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Toys</a
      >
    </li>
    <li>
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/shoes"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Shoes</a
      >
    </li>
    <li class="active">
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/accessories"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Accessories</a
      >
    </li>
    <li class="active">
      <a
        class="mx-2 rounded-lg px-3 py-2 text-slate-700 font-medium hover:bg-slate-100 hover:text-slate-900"
        routerLink="/beauty"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Beauty</a
      >
    </li>
  </ul>
</nav>

<div class="data mt-5">
  <router-outlet></router-outlet>
</div>
