<div class="container cart-body-main-container">
    <div class="card-body">
      <div class="card-heading">
        <div class="card-head">
          <span class="check-head">Checkout</span>
        </div>
      </div>
  
      <div class="container data-table">
        <div class="row mt-3 cart-data-division">
          <div class="col-8 table-data">
            <div
              class="row flex cart-user-data mt-3 mb-3"
            >
              <!-- <div class="col-2 table-image-div">
                <div class="table-img">
                  <img
                    src=""
                    class="table-img-data"
                    width="110px"
                    height="110px"
                    alt="not found"
                  />
                </div>
                <p  class="deleted_hover_btn_icon">
                  <i class="fa-solid fa-trash trash-can-hover"></i>
                </p>
              </div> 
              <div class="col-6">
                <div class="item-name">
                  <span class="item-ProductName"></span>
                  <div class="item-description"></div>
                </div>
              </div>
              <div class="quantity-card col-2 mt-n5">
                <div class="quantity-card">
                  <button class="btn-value">+</button>
                  <input class="quantity-value" value="" />
                  <button class="btn-value">-</button>
                </div>
              </div>-->
              <div class="col-2 item-price d-flex flex-column mt-n5">
                <div class="item-ProductPrice">
                </div>
             
              </div>
            </div>
          </div>
  
          <div class="col-4 card-sidebar card-sidebar1">
            <div class="total-value d-flex">
              <p class="price-heading m-3">Price Details</p>
            </div>
            <div class="price-data flex justify-between m-3">
              <span>Price</span>
              <span></span>
            </div>
            <div class="discount flex justify-between m-3">
              <span>Discount</span>
              <span class="delivery-type"></span>
            </div>
            <div class="delivery-charge flex justify-between m-3">
              <span>Delivery Charge</span>
              <span class="delivery-type">Free</span>
            </div>
            <div class="total-amount flex justify-between m-3">
              <span>Total Charge</span>
              <span></span>
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </div>
  